<%- include('../../partials/header/head.ejs') %>

<div class="container-fluid" style="background: #eee;height: 80vh;">
    <div class="container py-5 pb-4 w-100 d-flex justify-content-center">
      
     <div class="card p-4">
        <h4 class="py-2">Enter Creadentials to logged in!</h4>
        <form action="/auth/login" method="post">

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input name="email" type="email" id="form3Example3" class="form-control" required/>
              <label class="form-label" for="form3Example3">Email address</label>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input name="password" type="password" id="form3Example4" class="form-control" required/>
              <label class="form-label" for="form3Example4">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
          </form>
     </div>
         
    </div>
</div>


<%- include('../../partials/footer.ejs') %> 