<%- include('../partials/header/head.ejs') %>
<div class="container-fluid" style="min-height: 80vh;">
    <div class="container">
        <h4>hi</h4>
    </div>
</div>

<%- include('../partials/footer.ejs') %>